################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApp/BalenaLocatingApi/.vs/BalenaLocatingApi
/WebApp/BalenaLocatingApi/bin
/WebApp/BalenaLocatingApi/obj
/WebApp/BalenaLocatingApi/Properties
.vscode/launch.json
.vscode/tasks.json
